html{
	background-color:#222222;
	width:100%;
}

img{
	position: fixed;
	margin-left:auto;
	margin-right:auto;
}

body{
	font-size:6px;
	font:white;
}

h1{
	font-size:22px;
	color:white;
	font-family:arial;
}

.form{
	position:relative;
	width:400px;
	padding-top:20px;
	padding-left:5px;
	top:100px;
	margin-left:auto;
	margin-right:auto;
}


input{
	height:30px;
	width:300px;
	background-color:#222222;
	padding-left:10px;
	border:1px gray solid;
	border-radius:3px; 
	font-family:Arial;
	color:white;
}
#login{
	padding-left:0px;
	margin-left:auto;
	margin-right:auto;
}

.button1{
	width:200px;
	color:white;
	background-color:#222222;
	border:1px gray solid;
	border-radius:3px; 
	font-family:Arial;
	font-size:10px;
}

.userID:hover{
	background-color:#444444;
}

.userID{
	width:200px;
	color:white;
	background-color:#222222;
	border:1px gray solid;
	border-radius:3px; 
	font-family:Arial;
	font-size:10px;
}

.button1:hover{
	background-color:#444444;
}

a{
	text-decoration:none;
	font-family:Arial;
	font-size:10px;
	color:white;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}

.button2:hover{
	background-color:#444444;
}

p{
	font-size:12px;
	font-family:arial;
}

#error{
	color:cyan;
}

th{
	font-size:16px;
	color:white;
	font-family:arial;
}
td{
	font-size:16px;
	color:white;
	font-family:arial;
}




















